<div class="table-container">
  <button
    mat-raised-button
    color="primary"
    class="download-btn"
    (click)="downloadPDF()"
  >
    Download PDF
  </button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Role -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <!-- Department -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">{{ element.department }}</td>
    </ng-container>

    <!-- Salary -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef>Salary</th>
      <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
    </ng-container>

    <!-- REQUIRED ROWS -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
